<div style="width: 100%; height: 100%;">
  <ng-container *ngIf="avatarUrl; else defaultIcon">
    <img
      [src]="avatarUrl"
      [alt]="username"
      style="
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        display: block;
      "
    />
  </ng-container>

  <ng-template #defaultIcon>
    <div
      style="
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
      "
    >
      <mat-icon>person</mat-icon>
    </div>
  </ng-template>
</div>
