<!-- Proyecto: PageMark -->
<!-- Archivo: avatar.component.html -->
<!-- Descripción: Botón avatar que lleva al perfil y muestra imagen o icono -->
<!-- Autor: Richard Chadwick Plaza - 2º DAM -->

<button mat-button class="avatar-button" (click)="irAlPerfil()">
  <span class="username">{{ username }}</span>
  <img
    *ngIf="avatarUrl; else defaultIcon"
    [src]="avatarUrl"
    class="avatar-img"
    alt="Avatar"
  />
  <ng-template #defaultIcon>
    <mat-icon class="avatar-icon">account_circle</mat-icon>
  </ng-template>
</button>
