<footer class="pagemark-footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="assets/logo-redondo-pagemark.png" alt="Logo PageMark" class="footer-logo" />
      <span class="footer-brand">PageMark</span>
    </div>

    <div class="footer-links">
      <a routerLink="/" routerLinkActive="active">Inicio</a>
      <a routerLink="/buscar" routerLinkActive="active">Buscar</a>
      <a routerLink="/noticias" routerLinkActive="active">Noticias</a>
      <a href="https://github.com/richardchadp5555" target="_blank">GitHub</a>
    </div>
  </div>

  <div class="footer-bottom">
    © 2025 PageMark. Todos los derechos reservados.
  </div>
</footer>
